//
// Set theme colors
//

$started: #edde3f;
$passed: #39aa56;
$failed: #db4545;

$color: #6e6;
$color2: #0f0;
$linkcolor: #a3f;
$bgcolor: black;
$bordercolor: #515;

$bgcolor1: #010001;
$bgcolor2: #050505;
$bgcolor3: #190919;

$hover: #ddd;
$darkcolor: #8a8;
$shadow: #111;
$greyd: #9d3d9d;
$grey9: #c3c;
$grey6: #717;
$grey4: #414;
$greyfill: #1e001e;
$greyfill2: #1a001a;

@-moz-document domain("travis-ci.org"), domain("travis-ci.com") {
  a, body, button, html,
  .topbar, .topbar a,
  .repo-header .repo-title a {
    color: $color;
  }

  .popup {
    color: $color;
    background-color: $bgcolor;
    border: 10px solid $bordercolor;
  }

  #owner, .ember-application, .footer-title, .footer-elem, .travis-footer, .footer, .no-button, .small-title-popup-title, .url, .ember-text-area, .ember-view, #status-images, .display {
    color: $color;
    background-color: $bgcolor;
  }

  .form-pair, .text-area, .select, .x-select {
    color: $color;
    background-color: $bgcolor2;
  }

  #main, .main, .loading-page, .wrapper, .wrappermain {
    background-color: $bgcolor;
  }

  .log-header {
    color: $hover;
    background-color: $bgcolor2;
  }

  .log-header a:hover {
    color: $hover;
    background-color: $bgcolor3;
  }

  .fold {
    color: $color;
    background-color: $bgcolor3;
  }

  .fold-name {
    color: $color2;
    background-color: $bgcolor;
  }

  .duration {
    color: $color2;
    background-color: $bgcolor;
  }

  .log-body {
    color: $color2;
    background-color: $bgcolor;
  }


  .log-body .duration, .log-body .fold .fold-name {
    color: $color2;
    background-color: $bgcolor;
  }

  .navigation-nested {
    color: $color2;
    background-color: $bgcolor;
  }

  .navigation-nested a:hover {
    color: $linkcolor;
    background-color: $bgcolor2;
  }

  .profile-getstarted, .profile-repo:hover, .sidebar-list ul {
    color: $color2;
    background-color: $bgcolor;
  }

  .switch .switch-inner span {
    color: $color2;
    background-color: $grey6;
  }

  .profile-orgs h1 {
    color: $color2;
    background-color: $bgcolor;
    border: 0 0 0 2px solid $grey4;
  }

  .switch .switch-inner {
    color: $color2;
    background-color: $grey4;
  }

  .switch.active .switch-inner {
    color: $color2;
    background-color: $grey4;
  }

  .log-body pre {
    color: $color;
    background-color: $bgcolor1;
  }

  .log-body .fold:not(.open) p:first-of-type {
    color: $color2;
    background-color: $bgcolor3;
  }

  .top {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 15px $shadow;
  }

  .owner-header img,
  .top,
  .search--sidebar .search-inner input:focus {
    background-color: $bgcolor3;
  }

  .main,
  #left,
  .option-dropdown {
    background-image: linear-gradient(45deg, $greyfill 25%, transparent 25%, transparent 75%, $greyfill 75%, $greyfill), linear-gradient(135deg, $greyfill 25%, transparent 25%, transparent 75%, $greyfill 75%, $greyfill);
    background-color: $bgcolor2;
    background-size: 4px 4px;
  }

  #left {
    border-right-color: $greyfill2;
    box-shadow: 0 0 15px $shadow;
  }

  button,
  .action-button--cancel, .action-button--debug, .action-button--restart,
  .download-log-button, .remove-log-button, .toggle-log-button--dark,
  .search--sidebar .search-inner input,
  .option-display {
    background-color: $bgcolor3;
    color: $grey9;
    border-color: $shadow;
  }

  .travistab-nav--secondary a,
  .travistab-nav.travistab-nav--underline,
  .sidebar-list ul,
  .repo-navigation {
    border-bottom-color: $grey6;
  }

  .sidebar-list ul {
    background-color: $greyfill2;
  }

  .build-header,
  .sidebar-seperator,
  .row-li {
    border-color: $bgcolor3;
  }

  #log {
    border: 2px solid $grey4;
    border-top-width: 0;
  }

  .tile.booting, .tile.created, .tile.queued, .tile.received, .tile.started {
    background: linear-gradient(to right, $started 0, $started 8px, $bgcolor3 8px, $bgcolor3 100%) no-repeat;
  }

  .tile {
    background: linear-gradient(to right, $passed 0, $passed 8px, $bgcolor3 8px, $bgcolor3 100%) no-repeat;
  }

  .tile.passed {
    background: linear-gradient(to right, $passed 0, $passed 8px, $bgcolor3 8px, $bgcolor3 100%) no-repeat;
  }

  .tile.errored, .tile.failed {
    background: linear-gradient(to right, $failed 0, $failed 8px, $bgcolor3 8px, $bgcolor3 100%) no-repeat;
  }

  .build-header.booting, .build-header.created, .build-header.queued, .build-header.received, .build-header.started {
    background: linear-gradient(to right, $started 0, $started 10px, $bgcolor3 10px, $bgcolor3 100%) no-repeat;
  }

  .build-header.passed {
    background: linear-gradient(to right, $passed 0, $passed 10px, $bgcolor3 10px, $bgcolor3 100%) no-repeat;
  }

  .build-header.errored, .build-header.failed {
    background: linear-gradient(to right, $failed 0, $failed 10px, $bgcolor3 10px, $bgcolor3 100%) no-repeat;
  }

  .row-li.booting, .row-li.created, .row-li.queued, .row-li.received, .row-li.started {
    background: linear-gradient(to right, $started 0, $started 10px, $bgcolor3 10px, $bgcolor3 100%) no-repeat;
  }

  .row-li.passed {
    background: linear-gradient(to right, $passed 0, $passed 10px, $bgcolor3 10px, $bgcolor3 100%) no-repeat;
  }

  .row-li.canceled {
    background: linear-gradient(to right, $greyd 0, $greyd 10px, $bgcolor3 10px, $bgcolor3 100%) no-repeat;
  }

  .row-li.errored, .row-li.failed {
    background: linear-gradient(to right, $failed 0, $failed 10px, $bgcolor3 10px, $bgcolor3 100%) no-repeat;
  }

  .build-commit:after {
    background: linear-gradient(-90deg, $bgcolor3 20%, rgba(50, 50, 50, 0) 100%);
  }

  @media screen and (min-width: 50.063em) {
    .commit-description:after {
      background: linear-gradient(360deg, $bgcolor3 5%, rgba(50, 50, 50, 0) 100%);
    }

    .tile h2:after,
    .pr-row .row-branch:after {
      background: linear-gradient(-90deg, $bgcolor3 0, rgba(50, 50, 50, 0) 100%);
    }

    .fade-out:after {
      background: linear-gradient(-90deg, $bgcolor3 30%, rgba(50, 50, 50, 0) 100%);
    }

    .pr-row .two-line:first-of-type {
      border-color: $bgcolor3;
    }

    .branch-row .row-last-build:before {
      background-color: $bgcolor3;
    }

    .option-tofu {
      border-color: $bgcolor2;
    }
  }
}
